@page "/more/databaseTables"

<h1>Database Tables</h1>

<MudTabs Elevation="3" Rounded="true" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Exchange #1"><DatabaseTableExchange1 /></MudTabPanel>
    <MudTabPanel Text="Exchange #2"><DatabaseTableExchange2 /></MudTabPanel>
</MudTabs>

